@media (max-width: 1100px){
    img.inner__item{
        margin-right: 50px;
    }

    .header__picture img{
      width: 100%;
    }


}



@media (max-width: 968px){
  .word__img img{
    width: 100%;
  }
  .footer{
    margin-top: 100px;
  }
}




@media (max-width: 768px) {
  .header__row {
    flex-direction: column;
    align-items: center;
  }

  .nav__btn {
    margin-right: 40px;
  }
  .header__title {
    font-size: 44px;
    text-align: center;
    margin-top: 0;
  }
  .header__text {
    margin-top: 0;
    text-align: center;
    padding-bottom: 0;
  }
  .header__row {
    flex-direction: column;
  }
  .header__btn-one,
  .header__btn-two {
    justify-content: center;
  }
  .button {
    text-align: center;
  }
  .btn__one-location a,
  .btn__two-activity a,
  .btn__three-Grade a,
  .btn__four-Date a {
    max-width: 180px;
  }
  
  .nav__menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    z-index: 1;
    background-color: #fff;
     width: 100%; 
  }
  .nav__menu li {
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  .nav__item a {
    color: #fb8f1d;
  }
  .header__button {
    display: block;
    margin-right: auto;
  }
  .menu__list {
    display: none;
  }
  .header__picture img{
    width: 100%;
  }
  .photo__img img{
    width: 100%;
  }
  .footer__information{
    max-width: 200px;
  }


}

@media (max-width: 680px){
  .inner__item{
    width: 100%;
  }
  .featured__block{
    padding-left: 20px;
    padding-right: 20px;
  }
  .stories__item{
    padding-left: 20px;
    padding-right: 20px;
  }
  .stories__title{
    font-size: 30px;
  }
  .stories__trending{
    justify-content: space-around;
  }
  .word__inner{
    flex-direction: column;
}
.Testimonials__inner{
  flex-direction: column;
}
.stories{
  margin-top: 100px;
}
.footer__information{
  max-width: 150px;
}
}



@media (max-width: 590px){
  .stories__img {
    max-width: 310px;
   
  }
  .stories__item{
    padding-left: 100px;
    padding-right: 29px;
  }
  @media (max-width: 590px){
    .stories__img img{
      max-width: 100%;
    }
    .stories__title--item{
      font-size: 16px;
      line-height: 20px;
    }
    .stories__text{
      font-size: 14px;
      line-height: 20px;
    }
    .stories__subtitle{
      display: none;
    }
}



@media (max-width: 500px){
    .header__explore {
      margin-top: 50px;
        display: flex;
     flex-direction: column;
     align-items: center;
}
    .nav__logo{
    display: none;
}
.nav{
    display: flex;
    justify-content: center;
}
.header__title{
    font-size: 34px;
    margin-bottom: 0;
}
.btn__one-location a,
  .btn__two-activity a,
  .btn__three-Grade a,
  .btn__four-Date a {
    max-width: 130px;
  }
  .button__login,
  .button__register {
    padding: 6px 26px;
  }
  .nav__menu ul{
      top: 180px;
  }
  .button{
    padding: 10px 55px;
    margin-top: 30px;
  }
  img.inner__item{
    margin-right: 0;
}

}
.word__title{
  font-size: 30px;
  text-align: center;
}
.word__repeat{
  margin-top: 150px;
}
.word__img img{
  margin-top: 25px;
}
.word__text{
  margin-top: 0;
  padding: 0 15px;
}

.Testimonials__title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
.Testimonials{
  margin-top: 70px;
  margin-bottom: 20px;
}
.text{
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-top: 15px;
}
h5{
  margin: 0;
}
.footer{
  margin-top: 20px;
}
.footer__inner{
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer__information{
  max-width: 300px;
}
.footer__title{
  margin-bottom: 0;
  text-align: center;
}
 .footer__copyrite{
  margin-top:15px;
  }
  .footer__social{
    margin-top: 60px;
  }
  .footer__social img{
    padding-left: 15px;
  }
  .stories__trending{
    margin-bottom: 30px;
  }

}